<p>Your secret can only be viewed ONCE, do not open the URL yourself</p>
<a href="{{.}}">{{.}}</a>
<p>The last bit of the URL is the decryption key. GoPass will prompt for the key if it's removed from the URL</p>
